html {
  height: 100%;
}

body {
  height: 100%;
  padding: 0;
  margin: 0;
}

#app {
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}

img {
  width: 70%;
  border-radius: 3px;
  display: block;
  margin: 5px 0;
  border: 1px solid #f0f0f0;
}

.el-icon-arrow-down:before {
  content: "\E60B";
}

.el-submenu__title {
  height: 30px;
  line-height: 30px;
}

.el-submenu .el-menu-item {
  height: 30px;
  line-height: 30px;
  padding-right: 5px;
}

.el-menu-item.is-active {
  background-color: #ecf5ff;
}

.el-menu-item a {
  text-decoration: none;
  display: block;
  width: 100%;
  color: #303133;
}

.el-main {
  padding: 15px;
}

.el-tabs__item {
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
}

.el-tabs--left,
.el-tabs--right {
  overflow: auto;
}

hr {
  border: none;
  border-top: 1px dashed #dddddd;
  margin: 20px 0;
}

code {
  margin: 0 4px;
  padding: 2px 4px;
  font-size: 80%;
  background-color: #f7f7f7;
  border: 1px solid #eee;
  border-radius: 3px;
}

//region ant-design-vue
.ant-menu-inline .ant-menu-item {
  margin: 0 !important;

  &:hover {
    background-color: #e6f7ff !important;
  }
}

.ant-menu-inline .ant-menu-submenu-title {
  margin: 0 !important;

  &:hover {
    background-color: #e6f7ff !important;
  }
}

//endregion
