.ant-menu,
.ant-menu-item,
.ant-menu-submenu,
.ant-menu-submenu .ant-menu-sub,
.ant-menu-submenu-title,
.ant-menu-submenu-inline,
.ant-menu-vertical .ant-menu-item::after,
.ant-menu-vertical-left .ant-menu-item::after,
.ant-menu-vertical-right .ant-menu-item::after,
.ant-menu-inline .ant-menu-item::after,
.ant-motion-collapse-legacy-active,
.ant-motion-collapse,
.ant-collapse-anim-active,
.ant-layout-sider,
.ant-layout-sider-trigger,
.ant-menu-item .anticon,
.ant-menu-submenu-title .anticon,
.ant-menu-item .anticon + span,
.ant-menu-submenu-title .anticon + span,
.ant-menu-dark .ant-menu-submenu-title .ant-menu-submenu-arrow,
.ant-menu-dark .ant-menu-sub .ant-menu-submenu-title .ant-menu-submenu-arrow,
.ant-menu-submenu-vertical > .ant-menu-submenu-title .ant-menu-submenu-arrow::before,
.ant-menu-submenu-vertical-left > .ant-menu-submenu-title .ant-menu-submenu-arrow::before,
.ant-menu-submenu-vertical-right > .ant-menu-submenu-title .ant-menu-submenu-arrow::before,
.ant-menu-submenu-inline > .ant-menu-submenu-title .ant-menu-submenu-arrow::before,
.ant-menu-submenu-vertical > .ant-menu-submenu-title .ant-menu-submenu-arrow::after,
.ant-menu-submenu-vertical-left > .ant-menu-submenu-title .ant-menu-submenu-arrow::after,
.ant-menu-submenu-vertical-right > .ant-menu-submenu-title .ant-menu-submenu-arrow::after,
.ant-menu-submenu-inline > .ant-menu-submenu-title .ant-menu-submenu-arrow::after {
  transition: none !important;
}

.ant-badge-zoom-appear,
.ant-badge-zoom-enter {
  -webkit-animation: none !important;
  animation: none !important;
}

.ant-badge-zoom-leave {
  -webkit-animation: none !important;
  animation: none !important;
}
